.tools{
    padding: 100px;
    .row{
        .tools__left{
            padding-right: 120px;
            @include mediaQuery('medium'){
                padding-right: 20px;
            }
            h2{
                padding-bottom: $fs-2 - 2;
                @include textStyle($fs-2, $fw-1, $color-black);
            }
            h6{
                @include textStyle($fs-1 + 1, $fw-1, $color-black);
                i{
                    color: #1dbf73;
                    font-size: $fs-1;
                    padding-right: $fs-0 - 2;
                }
            }
            p{
                padding-bottom: $fs-2 - 2;
                @include textStyle($fs-0 - 1, $fw-0, $color-gray-2);
            }
        }
        .tools__right{
            img{
                width: 100%;
            }
        }
    }
}